<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Upload</title>
  </head>
  <body>
    <form id="upload-form" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" value="Upload" />
    </form>

    <div id="preview">
      <!-- ここにプレビューが表示される -->
    </div>

    <script>
      document
        .getElementById("upload-form")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          var formData = new FormData(this);
          fetch("/upload", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.uploaded_file_path) {
                var img = document.createElement("img");
                img.src = data.uploaded_file_path;
                document.getElementById("preview").appendChild(img);
              }
            })
            .catch((error) => console.error("Error:", error));
        });
    </script>
  </body>
</html>
